# Capstone Project 1 Data Wrangling
### Molly McNamara

Weather data for the top 10 cities with 15 years of pollution data has been downloaded from the NOAA website.  This data needs to be cleaned up and formatted and then joined with the pollution data.

#### Import pandas package

In [1]:
import pandas as pd
pd.set_option("display.max_columns", 500)

#### Import the pollution dataset

In [3]:
pollution = pd.read_csv('~/Desktop/cleanpollution.csv', index_col='Unnamed: 0')
pollution['Date_Local']= pd.to_datetime(pollution['Date_Local'],  errors='raise', format='%Y/%m/%d')
pollution.dtypes

Site_Num                    int64
Date_Local         datetime64[ns]
State                      object
County                     object
City                       object
NO2_Mean                  float64
NO2_1stMaxValue           float64
NO2_1stMaxHour            float64
NO2_AQI                   float64
O3_Mean                   float64
O3_1stMaxValue            float64
O3_1stMaxHour             float64
O3_AQI                    float64
SO2_Mean                  float64
SO2_1stMaxValue           float64
SO2_1stMaxHour            float64
SO2_AQI                   float64
CO_Mean                   float64
CO_1stMaxValue            float64
CO_1stMaxHour             float64
CO_AQI                    float64
dtype: object

#### Import the weather dataset

In [4]:
weather = pd.read_csv('~/Desktop/Weather7.csv')

In [5]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40770 entries, 0 to 40769
Data columns (total 8 columns):
NAME         40770 non-null object
LATITUDE     40770 non-null float64
LONGITUDE    40770 non-null float64
ELEVATION    40770 non-null float64
DATE         40770 non-null object
PRCP         40760 non-null float64
TMAX         40739 non-null float64
TMIN         40740 non-null float64
dtypes: float64(6), object(2)
memory usage: 2.5+ MB

In [6]:
weather.shape

(40770, 8)

In [7]:
weather['DATE']= pd.to_datetime(weather['DATE'],  errors='raise', format='%Y/%m/%d')
weather.dtypes

NAME                 object
LATITUDE            float64
LONGITUDE           float64
ELEVATION           float64
DATE         datetime64[ns]
PRCP                float64
TMAX                float64
TMIN                float64
dtype: object

#### Address missing values

In [8]:
weather.isnull().any()

NAME         False
LATITUDE     False
LONGITUDE    False
ELEVATION    False
DATE         False
PRCP          True
TMAX          True
TMIN          True
dtype: bool

While precipitation can be null, the temperature should always be a number.  In this case this will be done by forward-fill.

In [9]:
cols = ['TMAX', 'TMIN']
weather[cols] = weather[cols].ffill()

In [10]:
weather.isnull().any()

NAME         False
LATITUDE     False
LONGITUDE    False
ELEVATION    False
DATE         False
PRCP          True
TMAX         False
TMIN         False
dtype: bool

#### Rename columns to match Pollution dataset

In [11]:
column_labels = ['City', 'Latitude', 'Longitude', 'Elevation', 'Date_Local', 'Precipitation', 'TempMax', 'TempMin']
weather.columns = column_labels

In [15]:
weather.head()

,City,Latitude,Longitude,Elevation,Date_Local,Precipitation,TempMax,TempMin
0,Los Angeles,34.0236,-118.2911,54.6,2000-01-01,0.0,58.0,45.0
1,Los Angeles,34.0236,-118.2911,54.6,2000-01-02,0.0,61.0,44.0
2,Los Angeles,34.0236,-118.2911,54.6,2000-01-03,0.0,67.0,42.0
3,Los Angeles,34.0236,-118.2911,54.6,2000-01-04,0.0,69.0,44.0
4,Los Angeles,34.0236,-118.2911,54.6,2000-01-05,0.0,71.0,42.0

#### Join datasets

In [12]:
weatherpollution = pd.merge(pollution, weather, how='left', on=['Date_Local', 'City'])

The joined dataframe was saved as a new CSV.

In [31]:
weatherpollution.to_csv('weatherpollution.csv')